<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" action="/" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="inputUser" class="sr-only">Utente</label>
        <input name="user" id="inputUser" class="form-control" placeholder="Utente...">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" id="inputPassword" class="form-control" placeholder="Password...">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</body>